lightning_logs/
outputs/
checkpoints/
wandb/
weights/
downloaded_artifacts/
__pycache__/
imagenet_data/
pca/
pca_encoder.pth
final_meta_dataset.pth
trained_encoder_weights.pth
trained_encoder_weights_val.pth